@using ITSPublicApp.Infrastructure.Global
@using System.Web.Script.Serialization
@model ITSPublicApp.Domain.ViewModels.PagedReferrerAuthorisations
@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/viewmodels/areas/shared/referrer/AuthorisationViewModel.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/moment.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/plugins/knockout.dateformat.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ko.pager.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/kopaging.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/spin.min.js")" type="text/javascript"></script>
<script src="../../../../Scripts/jquery.spin.js" type="text/javascript"></script>
@*<link href="../../../../Content/its-main.css" rel="stylesheet" />*@
<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" />

<script type="text/javascript">
    authorisationViewModel = new AuthorisationViewModel();
    $(function () {
        ko.applyBindings(authorisationViewModel, $("#divAuthrization").get(0));
        authorisationViewModel.Initialize(@MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model)));
    });
</script>
<div id="pettabs" class="indentmenu mtop-15">
    <ul>
        <li>@Html.ActionLink("VIEW RESULTS / REPORTS", "Index", "Home", new { Area = GlobalConst.Areas.Referrer }, new { @class = "selected" })</li>
        <li>@Html.ActionLink("ADD REFERRAL", null, "AddReferral", new { Area = GlobalConst.Areas.Referrer }, null)</li>
        <li>@Html.ActionLink("CASE SEARCH", null, "CaseSearch", new { Area = GlobalConst.Areas.Referrer }, null)</li>
    </ul>
    <br style="clear: left" />
</div>

<div id="divAuthrization">
    <div id="divGridDisplaySpinner" style="position:absolute;top:50%;left:50%">
        <div id="divGridDisplay">
        </div>
    </div>
    <div class="ITS-ref-table">
        <table>
            <thead>
                <tr>
                    <td>
                        Due Date
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Your Reference Number
                    </td>
                    <td>
                        INN Case Number
                    </td>
                    <td>
                        Service Type
                    </td>
                    <td>
                        Current Report Type
                    </td>
                    <td>
                        View Report / Results
                    </td>
                    <td>
                        Accept Results / Approve Plan
                    </td>
                    <td>
                        Modify Plan
                    </td>
                    <td>
                        Close Case
                    </td>
                </tr>
            </thead>
            @{ int i = 1;}
            <tbody data-bind="foreach:ReferrerAuthorisations">
                <tr>
                    <td>
                        <span data-bind="text:CaseReferrerDueDate"></span>
                    </td>
                    <td>
                        <span data-bind="text:PatientName"></span>
                    </td>
                    <td>
                        <span data-bind="text:CaseReferrerReferenceNumber"></span>
                    </td>
                    <td>
                        <span data-bind="text:CaseNumber"></span>
                    </td>
                    <td>
                        <span data-bind="text:TreatmentTypeName"></span>
                    </td>
                    <td>
                    <input type=hidden name="hidcontenttype" id="hidcontenttype" data-bind="value:CurrentReportType" />
                        <span data-bind="text:CurrentReportType"></span>
                    </td>
                    <td>
                        <!--ko if :IsCustom() || IsFinalVersionUpload()-->
                        @*<a target="_blank" data-bind="attr:{'href' : UrlPath}" >View</a>*@

                         <a data-bind="attr: { 'href': '@Url.Action("Download", "Home")?_caseID='+EncryptedCaseID()+ '&ASID=' + AssessmentServiceID()}"> View </a>

                       <!--/ko -->
                    <!--ko if :!IsCustom() && !IsFinalVersionUpload()-->
                        <a href="#" data-bind="click:$parent.ViewAssessment">View</a>
                        <!--/ko -->
                      
                                            </td>
                    <td>
                        <a href="#" data-target="#divAuthorisationApprove" data-toggle="modal" data-backdrop="static" data-keyboard="false" class="active-link" data-bind="click:$parent.OpenTreatmentMatrix">Approve</a>
                    </td>
                    <td>
                        <a href="#" data-bind="click:$parent.ModifyAuthority">Modify</a>
                    </td>
                    <td>
                        <a href="#" data-bind="click:$parent.CaseStopped">Close</a>
                    </td>
                </tr>
                @{i = i + 1;}
            </tbody>
        </table>
    </div>
    <div id="msg-grid" data-bind="text:GridMessage">
    </div>

    @Html.Partial("_Paging")
    <div id="divAuthorisationApprove" class="modal hide fade pad-t-0" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true" style="height:325px;overflow:auto;">
    <div class="modal-top-set">
        <div class="modal-header">
            <h3>Treatment Matrix</h3>
            <button type="button" class="close pad-ft-2" data-dismiss="modal" aria-hidden="true">×</button>       
             <input type="hidden" id="hidCaseID" />     
        </div>

        <div class="modal-body">
         <div class="ITS-ref-table-2">
              <table>
            <thead>
                <tr>
                    <td>Type
                    </td>
                    <td>QTY
                    </td>
                    <td>Status
                    </td>

                </tr>
            </thead>
            <tbody>              
                <!--ko if:CaseAssessmentModifications()!= null-->
                <!-- ko foreach:CaseAssessmentModifications -->
                <tr>

                    <td>
                        <input type="hidden" data-bind="attr: { name: 'CaseAssessmentModifications['+ $index() + '\].Type' },value:Type" />
                        <input type="hidden" data-bind="attr: { name: 'CaseAssessmentModifications['+ $index() + '\].QTY' },value:QTY" />
                        <input type="hidden" data-bind="attr: { name: 'CaseAssessmentModifications['+ $index() + '\].Status' },value:Status" />
                        <span data-bind="text:Type"></span>
                    </td>
                    <td>
                        <span data-bind="text:QTY"></span>
                    </td>
                    <td>
                        <span data-bind="text:Status"></span>
                    </td>

                </tr>
                <!--/ko-->
                <!--/ko-->
            </tbody>
        </table>
            </div>    
        </div>

        <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true" data-bind="click:$root.Approve">Approve</button>
        </div>
    </div>
</div>

</div>
