@using System.Web.Script.Serialization
@using ITS.Infrastructure.Global;
@model ITS.Domain.ViewModels.SupplierViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}
@section ContentHeader{
    <h1>
        Suppliers</h1>
}
@*<div id="breadcrumb">
    <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
        Home</a><a href="#" class="tip-bottom">Suppliers</a><a href="#" class="tip-bottom">Supplierss</a>
</div>*@
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <a class="btn btn-primary btn-block" href="@Url.Action(GlobalConst.Actions.SupplierController.Add, GlobalConst.Controllers.Supplier)">
                Add New Supplier</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12" id="divSupplierSearch">
            <div class="widget-box collapsible">
                <div class="widget-title">
                    <a href="#searchDivCollapse" data-toggle="collapse" class="collapsed"><span class="icon">
                        <i class="icon-align-justify"></i></span>
                        <h5>
                            Supplier Search</h5>
                    </a>
                </div>
                <div class="collapse" id="searchDivCollapse" style="height: 0px;">
                    <div class="widget-content nopadding">
                        @using (Html.BeginForm(GlobalConst.Actions.SupplierController.Search, GlobalConst.Controllers.Supplier, FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="control-group">
                                <div class="column-margin">
                                    <div class="column-groups span2">
                                        <label>
                                            <input type="radio" name="SupplierSearch.SearchCriteria" value="1" data-bind="jqBootstrapValidation: {}" minchecked="1" data-validation-minchecked-message="Choose atleast one" />Supplier Name</label>
                                    </div>
                                    <div class="column-groups span2">
                                        <label>
                                            <input type="radio" name="SupplierSearch.SearchCriteria" value="2" data-bind="jqBootstrapValidation: {}" />Supplier Post
                                            Code</label>
                                    </div>
                                    <div class="column-groups span3">
                                        <label>
                                            <input type="radio" name="SupplierSearch.SearchCriteria" value="3" data-bind="jqBootstrapValidation: {}"/>Supplier Treatment
                                            Category</label>
                                    </div>
                                    <div class="clear">
                                    </div>
                                    <p class="help-block"></p>
                                </div>
                                
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    Supplier Search</label>
                                <div class="controls">
                                    <div class="search-groups1">
                                        <input type="text" name="SupplierSearch.SearchText" data-bind="jqBootstrapValidation: {}" required />
                                        <input type="hidden" name="Skip" value="0" />
                                        <input type="hidden" name="Take" value="10" />
                                        <span class="button-adjustment"><button type="submit" class="btn btn-primary">Search</button></span>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>
                        Recently Added Suppliers</h5>
                </div>
                <div class="widget-content nopadding" id="divSuppliers">
                    @Html.Partial("Supplier/_SupplierGridPartial")
                </div>
            </div>
        </div>
    </div>
</div>
@section AdditionalScripts{
    <script src="@Url.Content("~/Scripts/knockout/viewmodel/views/supplier/IndexViewModel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout/viewmodel/shared/supplier/SupplierGridViewModel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ko.pager.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var model = @MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model));

        var supplierSearchViewModel = new SearchViewModel();
        ko.applyBindings(supplierSearchViewModel, $("#searchDivCollapse").get(0));

        var supplierGridViewModel = new SupplierGridViewModel();
        supplierGridViewModel.Init(model.Suppliers);
        ko.applyBindings(supplierGridViewModel, $("#divSupplierSearch").get(0));
    </script>
}
