@model ITS.Domain.ViewModels.InternalTasksViewModel.InitialAssessmentQAViewModelCustom
@using ITS.Infrastructure.Global;
@using System.Web.Script.Serialization
@{
    ViewBag.Title = "InitialAssessmnetQA";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}
@section AdditionalCss{
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui-timepicker-addon.css")" rel="stylesheet" type="text/css" />
}
@section ContentHeader{
    <h1>
        Initial Assessment QA</h1>
}
<div id="breadcrumb">
    <a href="@Url.Action(GlobalConst.Actions.InternalTasksController.Index, GlobalConst.Controllers.InternalTasks)" title="Go to Home" class="tip-bottom">
        <i class="icon-home"></i>Internal Tasks</a><a href="@Url.Action(@GlobalConst.Actions.InitialAssessmentController.Index, @GlobalConst.Controllers.InitialAssessment)" class="tip-bottom">Initial
            Assessment</a> <a href="#" class="tip-bottom">Initial Assessment QA</a>
</div>
<div class="container-fluid" id="divInitialAssessmentQACustom">
    <div class="row-fluid">
        <div class="span12">
            @using (Html.BeginForm(GlobalConst.Actions.InitialAssessmentController.UpdateInitialAssessmentQACustom, GlobalConst.Controllers.InitialAssessment, FormMethod.Post, new

            {
                @class = "form-horizontal",
                id = "frmUpdateInitialAssessmentQa",
                encript = "multipart/form-data",

                data_bind = "ajaxForm:{ success: function(responseText, statusText, xhr, $form){ UpdateInitialAssessment(responseText, statusText, xhr, $form); }, beforeSubmit: UpdateInitialAssesmentQAFormBeforeSubmit }"
            }))
            {


                @Html.AntiForgeryToken()
                //Patient info start
             
                
                <input type="hidden" name="Case.CaseID" data-bind="value:CaseID" />
                <input type="hidden" name="caseAssessmentCustom.CaseID" data-bind="value:CaseID" />
                <input type="hidden" name="caseAssessmentRating.CaseID" data-bind="value:CaseID" />
                <input type="hidden" name="CaseCommunicationHistory.CaseID" data-bind="value:CaseID" />
                <!--ko foreach:supplierDocumentCustom -->
                <input type="hidden" name="supplierCustom.SupplierID" data-bind="value:SupplierID" />
                <input type="hidden" name="supplierCustom.CaseID" data-bind="value:CaseID" />
               
                <!--/ko -->
                
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-align-justify"></i></span>
                        <h5>
                            Patient Details</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div>
                            <!--ko with:Patient -->
                            <div class="control-group">
                                <label class="control-label">
                                    Patient Name:</label>
                                <div class="controls">
                                    <input type="text" name="PatientName" data-bind="value:FirstName()+' '+LastName()"
                                        placeholder="Patient Name" readonly />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    Date of Birth:</label>
                                <div class="controls">
                                    <input type="text" name="Patient.BirthDate" data-bind="value:BirthDate" placeholder="Date of Birth"
                                        readonly />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    Date of accident:</label>
                                <div class="controls">
                                    <input type="text" name="Patient.InjuryDate" data-bind="value:InjuryDate" placeholder="Date of accident"
                                        readonly />
                                </div>
                            </div>
                            <!--/ko-->
                            <!--ko with:Case -->
                            <div class="control-group">
                                <label class="control-label">
                                    Date of Referral:
                                </label>
                                <div class="controls">
                                    <input type="text" name="CaseSubmittedDate" readonly data-bind="value:CaseSubmittedDate"
                                        placeholder="Date of Referral" />
                                </div>
                            </div>
                            <!--/ko-->
                            <!--ko with:CaseAppointmentDate -->
                            <div class="control-group">
                                <label class="control-label">
                                    Date of Initial Assessment:</label>
                                <div class="controls">
                                    <input type="text" id="CaseAppointmentDateAppointmentDate" class="datepicker" data-bind="value:strAppointmentDate,jqBootstrapValidation: {}" data-validation-regex-message="DD/MM/YYYY" data-validation-regex-regex="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d+$"
                                        placeholder="Date of Intital Assessment" required  />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    Time of Initial Assessment:
                                </label>
                                <div class="controls">
                                    <input type="text" id="CaseAppointmentDateAppointmentTime" data-bind="value:strAppointmentTime,jqBootstrapValidation: {}" maxlength="7"
                                      data-validation-regex-regex="^([0-1][0-9]|2[0-3]):([0-5][0-9])$" placeholder="Time of Intital Assessment" required />
                                      <input type="hidden" name="CaseAppointmentDate.AppointmentDateTime" data-bind="value:AppointmentDateTime1()" />
                                </div>
                            </div>
                            <!--/ko-->
                        </div>
                    </div>
                </div>
            
                //Patient info End
           
                <input type="hidden" name="RefferId" data-bind="value:RefferId" />
                <input type="hidden" name="RefferProjectTreatmentID" data-bind="value:RefferProjectTreatmentID" />
                 
                
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-align-justify"></i></span>
                        <h5>
                            Initial Assessment Document</h5>
                    </div>
                    <div class="widget-content">
                        <div class="control-group">
                            <div class="form-group">

                                <div class="controls">
                                    <a class="btn btn-small btn-primary" href="#divFinalVersionUploadFile" role="button"
                                        data-toggle="modal">Upload Final Version</a> <a class="btn btn-small btn-primary"
                                            data-bind="attr : { 'href':InitialAssesessmentCustomFilePath(),'target':'_blank'}" role="button" >Download Report</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div> 
                          
                @*<div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-align-justify"></i></span>
                        <h5>
                            Further Treatment</h5>
                    </div>
                    <div class="widget-content">
                        <div class="control-group">
                            <div class="form-group">
                            <label class="control-label">
                                    Further Treatment Required:</label>
                                <div class="controls">
                                    <input type="Radio" name="radioHasValue" data-bind="jqBootstrapValidation:{}" required
                                        class="radio inline" value="yes" />Yes
                                    <input type="Radio" name="radioHasValue" data-bind="jqBootstrapValidation:{}" required
                                        class="radio inline" value="no" />No
                                </div>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>*@ 
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-align-justify"></i></span>
                        <h5>
                            Rating Score</h5>
                    </div>
                    <div class="widget-content">
                        <div class="control-group">
                            <div class="form-group">
                                <div class="controls">
                                    <input type="text" min="1" max="10" data-validation-regex-regex="^(\d*\.\d{1,2}|\d+)$" data-validation-regex-message="Must be a number" name="caseAssessmentRating.Rating"
                                        data-bind="value:caseAssessmentRating.Rating,jqBootstrapValidation:{}"
                                        required class="input-text-set" />
                                </div>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>                    
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>
                            Further Treatment Recommended
                        </h5>
                    </div>
                    @Html.Partial("InternalTask/_AddCaseBespokePartialCustom")
                    @Html.Partial("InternalTask/_AddCaseTreatmentPartialCustom")
                    <div class="widget-content">
                        <a class="btn btn-small btn-primary" href="#divCreateCaseTreatmentGrid" role="button"
                            data-toggle="modal">Add</a>
                        @Html.Partial("InternalTask/_CaseTreatmentGridPartialCustom", new { name = "CaseTreatmentPricings" })
                        <div class="clear">
                        </div>
                        <a class="btn btn-small btn-primary" href="#divCreateBespokeGrid" role="button" data-toggle="modal">
                            Add</a>
                        @Html.Partial("InternalTask/_CaseTreatmentBespokeGridPartialCustom", new { name = "CaseBespokeServicePricing" })
                        @*<div class="form-group">
                            <div class="control-group">
                                <span class="span3">Notify Referrer?</span>
                                  <span class="pull-right">
                                    <input type="radio"  data-bind="checked:IsNotifyEmailtoReferrer"
                                        class="radio inline isNottify" value="1" />Yes
                                    <input type="radio" data-bind="checked:IsNotifyEmailtoReferrer"
                                        class="radio inline isNottify" value="0" />No</span>
                                <div class="pull-right">                       
                                </div>
                                <input type="hidden" name="CaseCommunicationHistory.NotifyReferrer" data-bind="value:Notify" />
                            </div>
                        </div>*@
                        <div class="clear">
                        </div>
                        <div data-bind="if:IsNotifyEmailtoReferrer()==true">
                            @Html.Partial("_EmailPartial")
                        </div>
                        <br />
                        <div class="clear">
                        </div>
                  
                        <div id="divMeassageToSupplier" class="form-group" >
                            <label>
                                Message to Supplier:
                            </label>
                           <textarea class="form-control textarea-qurtr" id="txtMessageSupplier" name="caseAssessmentCustom.Message" data-bind="value:caseAssessmentCustom.Message , jqBootstrapValidation:{}" required
                                rows="3"></textarea>
                        </div>
                        <div class="clear">
                        </div>
                        <div class="control-group pull-right">
                            <input type="radio" class="radio-accept-1 inline IsAccept" name="caseAssessmentCustom.isAccepted" required value="true" id="radioIsAccept" 
                                data-bind="checked:isAccepted" />
                            Accept
                            <input type="radio" class="radio-accept-1 inline IsAccept" required name="caseAssessmentCustom.isAccepted" checked value="false" 
                                data-bind="checked:isAccepted" />
                            Reject&nbsp&nbsp&nbsp&nbsp
                            <button id="btnClinicalSave" type="submit" class="btn btn-primary">
                                Send</button>
                        </div>
                     
                        <div class="clear">
                        </div>
                    </div>
                </div>
                @Html.Partial("_FinalVersionUploadPartial")
                <div id="divFinalVersionUploadFile" class="modal hide fade  form-horizontal" tabindex="-1"
                    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button"  class="close" data-dismiss="modal" aria-hidden="true">
                            ×</button>
                        <h3 id="myModalLabel">
                            Final Version Upload</h3>
                    </div>
                    <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="input01">
                                <span style="color: Red">*</span>Select File
                            </label>
                            <div class="controls" id="DocUploadDiv">
                                <input type="file" id="finalVersionFileUploadFile" name="InitialAssessmentFileFinal"  data-buttontext="Select File" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bind="click:UploadFinalVersionFile">
                            Upload</button>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
<div class="row-fluid">
    <div id="footer" class="span12">
        2012 - 2013 &copy; ITS Portal v1.0
    </div>
</div>
@section AdditionalScripts{
    <script src="@Url.Content("~/Scripts/knockout/viewmodel/views/InitialAssessment/InitialAssessmentQACustomViewModel.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var model = @MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model));
        var initialAssessmentQAViewModelCustom = new initialAssessmentQAViewModelCustom(model);
     //  initialAssessmentQAViewModelCustom.Init(model);
        ko.applyBindings(initialAssessmentQAViewModelCustom, $("#divInitialAssessmentQACustom").get(0));
     $(document).ready(function(){
            $("#CaseAppointmentDateAppointmentDate").datepicker({
                dateFormat:'dd/mm/yy',
                    changeMonth: true,
                    changeYear: true
                });
            $("#CaseAppointmentDateAppointmentTime").timepicker();
            $("#AnticipatedDateOfDischarge").datepicker({ dateFormat: 'dd/mm/yy' });
         });
    </script>
}
<script type="text/javascript" src="@Url.Content("/Scripts/painScoreValidation.js")"></script>
