@using System.Web.Script.Serialization
@using ITS.Infrastructure.Global
@model ITS.Domain.ViewModels.InternalTasksViewModel.FinalAssessmentQACustomViewModel
@{
    ViewBag.Title = "Final Assessment QA Custom";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}
@section AdditionalCss{
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui-timepicker-addon.css")" rel="stylesheet" type="text/css" />
}
@section ContentHeader{
    <h1>Final Assessment QA Custom</h1>
}
<div id="breadcrumb">
    <a href="@Url.Action(GlobalConst.Actions.InternalTasksController.Index, GlobalConst.Controllers.InternalTasks)" title="Go to Home" class="tip-bottom">
        <i class="icon-home"></i>Internal Tasks</a><a href="@Url.Action("Index")" class="tip-bottom">Final
            Assessment</a> <a href="#" class="tip-bottom">Final Assessment QA</a>
</div>
<div class="container-fluid">
    <div class="row-fluid" id="divFinalAssessmentQACustom">
        @using (Html.BeginForm(GlobalConst.Actions.FinalAssessmentController.UpdateFinalAssessmentQACustom, GlobalConst.Controllers.FinalAssessment,
          FormMethod.Post, new
          {
              @class = "form-horizontal",
              id = "frmFinalAssessmentQACustom",
              enctype = "multipart/form-data",
              data_bind = "ajaxForm:{ success: function(responseText, statusText, xhr, $form){ UpdateFinalAssessmentQASucess(responseText, statusText, xhr, $form); },beforeSubmit: FinalAssessmentQACustomBeforeSubmit}"
          }))
        {
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-align-justify"></i></span>
                    <h5>Patient Details</h5>
                </div>
                <div class="widget-content nopadding">
                    <!--ko with:casePatientTreatment -->
                    <div class="control-group">
                        <label class="control-label-inital">
                            Patient Name:</label>
                        <div class="controls">
                            <input type="text" name="PatientName" data-bind="value:FirstName() + ' ' + LastName()"
                                readonly />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label-inital">
                            Date of Birth:</label>
                        <div class="controls">
                            <input type="text" name="Patient.BirthDate" data-bind="value:BirthDate" readonly />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label-inital">
                            Date of Accident:</label>
                        <div class="controls">
                            <input type="text" name="Patient.InjuryDate" data-bind="value:InjuryDate" readonly />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label-inital">
                            Date of Referral:
                        </label>
                        <div class="controls">
                            <input type="text" name="CaseSubmittedDate" readonly data-bind="value:CaseSubmittedDate"
                                placeholder="Date of Referral" />
                        </div>
                    </div>
                    <!--/ko-->
                    <!--ko with:CaseAppointmentDate -->
                    <div class="control-group">
                        <label class="control-label-inital">
                            Date of Initial Assessment:</label>
                        <div class="controls">
                            <input type="text" id="CaseAppointmentDateAppointmentDate" class="datepicker" data-bind="value:strAppointmentDate,jqBootstrapValidation: {}" 
                                data-validation-regex-message="DD/MM/YYYY" data-validation-regex-regex="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d+$"
                                placeholder="Date of Intital Assessment" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label-inital">
                            Time of Initial Assessment:
                        </label>
                        <div class="controls">
                            <input type="text" id="CaseAppointmentDateAppointmentTime" data-bind="value:strAppointmentTime,jqBootstrapValidation: {}" maxlength="7"
                                data-validation-regex-regex="^([0-1][0-9]|2[0-3]):([0-5][0-9])$" placeholder="Time of Intital Assessment" required />
                            <input type="hidden" name="CaseAppointmentDate.AppointmentDateTime" data-bind="value:$root.AppointmentDateTime1()" />
                        </div>
                    </div>
                    <!--/ko-->
                </div>
                <input type="hidden" name="ReferrerID" data-bind="value:ReferrerID" />
                <input type="hidden" name="supplierCustom.ReferrerProjectTreatmentID" data-bind="value:ReferrerProjectTreatmentID" />
            </div>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-align-justify"></i></span>
                    <h5>Final Assessment Document</h5>
                </div>
                <div class="widget-content">
                    <div class="control-group">
                        <div class="form-group">
                            <div class="controls">
                                <a class="btn btn-small btn-primary" href="#divFinalVersionUploadFile" role="button"
                                    data-toggle="modal">Upload Final Version</a> <a class="btn btn-small btn-primary"
                                        data-bind="attr : { 'href':FinalAssesessmentCustomFilePath()}">Download Report</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div> 
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-align-justify"></i></span>
                    <h5>Rating Score</h5>
                </div>
                <div class="widget-content">
                    <div class="control-group">
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" data-validation-regex-regex="^(\d*\.\d{1,2}|\d+)$" data-validation-regex-message="Must be a number" data-bind="value:caseAssessmentRating.Rating,jqBootstrapValidation:{}"
                                    min="1" max="10" name="CaseAssessmentRating.Rating" required />
                            </div>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
            <div class="widget-box pad-widget">
                @*<div class="form-group">
                    <div class="control-group">
                        <span class="span3">Notify Referrer? </span>
                        <span class="pull-right">
                            <input type="radio" data-bind="checked:IsNotifyEmailtoReferrer" class="radio inline isNottify"
                                value="1" />Yes
                        <input type="radio" data-bind="checked:IsNotifyEmailtoReferrer" class="radio inline isNottify"
                            value="0" />No</span>
                        <br />
                        <div class="pull-right">
                        </div>
                        <input type="hidden" name="CaseCommunicationHistory.NotifyReferrer" data-bind="value:Notify" />

                    </div>
                </div>*@
                <div class="clear">
                </div>
                <div data-bind="if:IsNotifyEmailtoReferrer()==true">
                    @Html.Partial("_EmailPartial")
                </div>
                <br />
                <div class="clear">
                </div>
                <div id="divMeassageToSupplier" class="form-group">
                    <label>
                        Message to Supplier:
                    </label>
                    <textarea class="form-control textarea-qurtr" id="txtMessageSupplier" name="caseAssessmentCustom.FinalAssessmentMessage"
                        data-bind="jqBootstrapValidation:{}" required
                        rows="3"></textarea>
                </div>
                <div class="clear">
                </div>
                <div class="control-group pull-right">
                    <input type="radio" class="radio-accept-1 inline isAccepted" name="caseAssessmentCustom.isAccepted"
                        required value="true" data-bind="checked:isAccepted" id="radioIsAccept" />
                    Accept
                <input type="radio" class="radio-accept-1 inline isAccepted" name="caseAssessmentCustom.isAccepted"
                    required value="false" data-bind="checked:isAccepted" />
                    Reject &nbsp;&nbsp;&nbsp;&nbsp;
                <button id="btnClinicalSave" type="submit" class="btn btn-primary">Send</button>
                </div>
                <div class="clear">
                </div>
                <div id="divFinalVersionUploadFile" class="modal hide fade  form-horizontal" tabindex="-1"
                    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×</button>
                        <h3 id="myModalLabel">Final Version Upload</h3>
                    </div>
                    <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="input01">
                                <span style="color: Red">*</span>Select File
                            </label>
                            <div class="controls" id="DocUploadDiv">
                                <input type="file" id="finalVersionFileUploadFile" name="FinalAssessmentFileFinal"
                                    data-buttontext="Select File" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bind="click:UploadFinalVersionFile">
                            Upload</button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="caseObj.CaseID" data-bind="value:CaseID" />
            <input type="hidden" name="caseAssessmentCustom.CaseID" data-bind="value:CaseID" />
            <input type="hidden" name="caseAssessmentRating.CaseID" data-bind="value:CaseID" />
            <input type="hidden" name="CaseCommunicationHistory.CaseID" data-bind="value:CaseID" />
            <!--ko foreach:supplierDocument -->
            <input type="hidden" name="supplierCustom.SupplierID" data-bind="value:SupplierID" />
            <!--/ko -->
            <input type="hidden" name="supplierCustom.CaseId" data-bind="value:CaseID" />
            @Html.AntiForgeryToken()
        }
    </div>
</div>
@section AdditionalScripts{
    <script src="@Url.Content("~/Scripts/knockout/viewmodel/views/FinalAssessments/FinalAssessmentQACustomViewModel.js")" 
    type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
<script type="text/javascript">        
    var model = @MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model));        
    finalAssessmentQACustomViewModel = new FinalAssessmentQACustomViewModel(); 
    finalAssessmentQACustomViewModel.Init(model);                
    ko.applyBindings(finalAssessmentQACustomViewModel, $("#divFinalAssessmentQACustom").get(0));
    $(document).ready(function(){
        $("#CaseAppointmentDateAppointmentDate").datepicker({
            dateFormat:'dd/mm/yy',
            changeMonth: true,
            changeYear: true
        });
        $("#CaseAppointmentDateAppointmentTime").timepicker();
        $("#AnticipatedDateOfDischarge").datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>
