<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/reset.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/its-main.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ajaxtabs.css")" />
    <script src="@Url.Content("~/Scripts/jquery-v3.4.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.0.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/InputMaskViewModel.js")" type="text/javascript"></script>
      <script type="text/javascript">
        function validate(data,lblmsg) {
        if (data.value != "" && data.value!="__/__/____") {
            re = /^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d+$/;
            if (re.test(data.value)) {
               $('#'+lblmsg).text("");
            }
            else {
                $('#'+data.id).val('');
              $('#'+lblmsg).text("DD/MM/YYYY");
               $('#'+data.id).focus();
              
            }
        }
        else {
              $('#'+lblmsg).text("");
        }
        }        
        $(document).ready(function () {
            var idleTime = 0;
            
            setInterval(function () {
                idleTime = idleTime + 1;               
                if (idleTime > 0) {                    
                    $.post("/Home/CleardLoginSessionIdle", "json").done(function (response) {
                        alert("Your session expired");
                        window.location = "/Home/";
                    });
                }
            }, 1500000);

            $(this).mousemove(function (e) {
                idleTime = 0;
            });
            $(this).keypress(function (e) {
                idleTime = 0;
            });


        });

      function disableRightClick() {
          return false;
      }

    </script>
</head>
<body id="its-referrer" oncontextmenu=" return disableRightClick();">
    <div id="its-container">
        <div id="loader-main-div" class="hidden">
            <div class="loaderbg"></div>
            <div id="loader"></div>
            </div>
        <div class="its-wrapper">
            @{
                Html.RenderPartial("_Header");
            }
            @{
                Html.RenderPartial("_HeaderLinks");   
            }
            <div class="clear">
            </div>
            <div class="its-sub-header">
                <p>
                    <span class="its-pwelcome">Welcome to the Insight Portal Referrer</span><br />
                    Here you can make a referral, search for details of an existing case, view assessment
                    reports, authorise further treatment and view outstanding.
                </p>
            </div>
            <div class="its-content">
                <div class="its-tabs">
                    @RenderBody()
                </div>
            </div>
        </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            if ($(".hasDatepicker").length)
                                $(".hasDatepicker").datepicker("option", "yearRange", "1900:2035");
                            $('.hasDatepicker').mask('99/99/9999');
                        });
    </script>
    </div>
    @{
        Html.RenderPartial("_Footer");
    }
</body>
</html>
