@using ITSPublicApp.Domain.Models;
@using ITSPublicApp.Web.Controllers
@model ITSPublicApp.Domain.ViewModels.PrintBlankInitialAssessmentViewModel
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Insight Portal - Print Initial Assessment</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/reset.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/print.css")" />
</head>
<body id="its-supplier-form">
    <div id="its-container">
        <div class="its-supplier-form-wrapper">
            <div class="clear">
            </div>
            <div class="its-sub-header">
                <p>
                    <span class="its-pwelcome">Initial Assessment Form</span><br />
                </p>
            </div>
            <div class="its-content">
                <div class="print-heading">
                    <p>
                        Patient Details
                    </p>
                </div>
                <table width="100%" cellpadding="5" cellspacing="5">
                    <tr>
                        <td>Patient Name:
                        </td>
                        <td>
                            @Model.Patient.FirstName @Model.Patient.LastName
                        </td>
                    </tr>
                    <tr>
                        <td>Date of Birth:
                        </td>
                        <td>
                            @if (Model.Patient.BirthDate.HasValue)
                            {
                                @Model.Patient.BirthDate.Value.ToString().Substring(0,10)   
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Date of Referral:
                        </td>
                        <td>
                            @Model.Case.CaseSubmittedDate.ToString().Substring(0,10)
                        </td>
                    </tr>
                    <tr>
                        <td>Date of Accident:
                        </td>
                        <td>
                            @Model.Patient.InjuryDate.ToString().Substring(0,10)   
                        </td>
                    </tr>
                    <tr>
                        <td>Date of Initial Assessment:
                        </td>
                        <td>
                            @if (Model.CaseAssessment != null)
                            {
                                if (Model.CaseAssessment.CaseAssessmentDetail.AssessmentDate != null)
                                {                                
                                @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.CaseAssessmentDetail.AssessmentDate.ToShortDateString() : "")
                                }
                            }
                        </td>
                    </tr>
                </table>
                <div class="print-heading">
                    <p>
                        Patient Consent
                    </p>
                </div>
                <table width="100%" cellpadding="5" cellspacing="5">
                    <tr>
                        <td>Has the patient given consent for this assessment report to be passed to their solicitor,
                            the treating pyhsiotherapist and the funding party?
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.HasPatientConsentForm.ToString() : "")
                        </td>
                    </tr>
                </table>
                <div class="print-heading">
                    <p>
                        Injury Details
                    </p>
                </div>
                <table cellpadding="5" cellspacing="5" class="affected-area">
                    <tr>
                        <td colspan="4">
                            <p>
                                Please give a brief description of the incident and diagnosis/injury. Please include
                                whether the patient attended A&E and/or their GP.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <p>
                                @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.IncidentAndDiagnosisDescription : "")
                            </p>
                        </td>
                    </tr>
                </table>

                <div class="print-heading">
                    <p>
                        Symptom Details
                    </p>
                </div>
                <table cellpadding="5" cellspacing="5" class="affected-area">
                    <tr>
                        <td>Symptom Description
                        </td>
                        <td>Pain Score
                        </td>
                        <td>Affected Area
                        </td>
                        <td>Restriction Range
                        </td>
                        <td>Strength Testing
                        </td>
                        <td>Please detail any neural symptoms present with references to the symptoms above
                        </td>
                    </tr>
                    @if (Model.CaseAssessment != null)
                    {
                        foreach (var patientInjury in @Model.CaseAssessment.CaseAssessmentPatientInjuriesBL)
                        {
                        <tr>
                            <td>
                                @patientInjury.SymptomDescriptionName
                            </td>
                            <td>
                                @patientInjury.Score
                            </td>
                            <td>
                                @patientInjury.AffectedAreaDescription
                            </td>
                            <td>
                                @patientInjury.RestrictionRangeDescription
                            </td>
                            <td>
                                @patientInjury.StrengthTestingDescription
                            </td>
                            <td>
                                @patientInjury.OtherSymptomDesciption
                            </td>
                        </tr>
                        }
                    }
                </table>
                @*   <div class="margin-separator">
                </div>
                <div class="page-spacer">
                    &nbsp;
                </div>
                <table cellpadding="5" cellspacing="5" class="affected-area">
                    <tr>
                        <td colspan="4">
                            <p>
                                Please detail any neural symptoms present with reference to the symptoms above:
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.NeuralSymptomDescription : "")
                        </td>
                    </tr>
                </table>*@
                <div class="margin-separator">
                </div>
                <div class="page-spacer">
                    &nbsp;
                </div>
                <div class="print-heading">
                    <p>
                        Impact on Lifestyle
                    </p>
                </div>
                @foreach (PatientImpact patientImpact in @Model.PatientImpacts)
                {
                    <table width="100%" cellpadding="5" cellspacing="5">
                        <tr>
                            <td>
                                <strong>@patientImpact.PatientImpactName</strong>
                            </td>
                            <td>
                                @Html.Encode(Model.CaseAssessment != null ? Model.PatientImpactValues.SingleOrDefault(pi => pi.PatientImpactValueID == Model.CaseAssessment.CaseAssessmentPatientImpacts.SingleOrDefault(i => i.PatientImpactID == patientImpact.PatientImpactID).PatientImpactValueID).PatientImpactValueName : "")
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Comments:
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.CaseAssessmentPatientImpacts.SingleOrDefault(i => i.PatientImpactID == patientImpact.PatientImpactID).Comment : "")
                            </td>
                        </tr>
                    </table>
                }
                <div class="margin-separator">
                </div>
                <div class="page-spacer1">
                    &nbsp;
                </div>
                <div class="print-heading">
                    <p>
                        Impact on Work
                    </p>
                </div>
                <table width="100%" cellpadding="5" cellspacing="5" class="impactonwork">
                    <tr>
                        <td>
                            <strong>Patient’s occupation:</strong>
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.PatientOccupation : "")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Is the patient’s role manual, sedentary or mixed?</strong>
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.PatientRole.SingleOrDefault(patientRoleID => patientRoleID.PatientRoleID == Model.CaseAssessment.PatientRoleID).PatientRoleName : "")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Has the patient had any time off work?</strong>
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null && Model.CaseAssessment.CaseAssessmentDetail.HasThePatientHadTimeOff.HasValue ? Model.CaseAssessment.CaseAssessmentDetail.HasThePatientHadTimeOff.Value.ToYesNo() : "Not Applicable")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Has the patient returned to work?</strong>
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null && Model.CaseAssessment.CaseAssessmentDetail.HasThePatientReturnedToWork.HasValue ? Model.CaseAssessment.CaseAssessmentDetail.HasThePatientReturnedToWork.Value.ToYesNo() : "Not Applicable")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>If so, how many weeks have they been absent?</strong>
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.CaseAssessmentDetail.AbsentPeriod.ToString() : "")
                            @Html.Encode(Model.CaseAssessment != null ? Model.Duration.SingleOrDefault(d => d.DurationID == Model.CaseAssessment.CaseAssessmentDetail.AbsentPeriodDurationID).DurationName : "")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Current work status</strong>
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.PatientWorkstatuses.SingleOrDefault(p => p.PatientWorkstatusID == Model.CaseAssessment.CaseAssessmentDetail.PatientWorkstatusID).PatientWorkstatusName : "")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>* Please rate the impact of the remaining symptoms on the patient's work
                            </strong>
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.PatientImpactOnWorks.SingleOrDefault(p => p.PatientImpactOnWorkID == Model.CaseAssessment.CaseAssessmentDetail.PatientImpactOnWorkID).PatientImpactOnWorkName : "")
                        </td>
                    </tr>
                </table>
                <div class="print-heading">
                    <p>
                        Treatment Recommendation
                    </p>
                </div>
                <table width="100%" cellpadding="5" cellspacing="5" class="impactonwork">
                    <tr>
                        <td>
                            <strong>How many sessions has the patient attended? Please include assessment sessions</strong>
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.CaseAssessmentDetail.PatientRecommendedTreatmentSessions.ToString() : "")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>What were the dates of the attended sessions?</strong>
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.CaseAssessmentDetail.DatesOfSessionAttended : "")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>How many sessions has the patient failed to attend?</strong>
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.CaseAssessmentDetail.SessionsPatientFailedToAttend.ToString() : "")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>What level of recovery do you anticipate the patient will make following treatment?</strong>
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.PatientLevelOfRecoveries.SingleOrDefault(p => p.PatientLevelOfRecoveryID == Model.CaseAssessment.CaseAssessmentDetail.PatientLevelOfRecoveryID).PatientLevelOfRecoveryName : "")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Has the patient been given a home exercise programme?</strong>
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.HasPatientHomeExerciseProgramme.ToString() : "")
                        </td>
                    </tr>
                </table>
                <div class="margin-separator">
                </div>
                <div class="page-spacer">
                    &nbsp;
                </div>
                <div class="print-heading">
                    <p>
                        Further Treatment
                    </p>
                </div>
                <table width="100%" cellpadding="5" cellspacing="5">
                    <tr>
                        <td>Do you recommend any further treatment?
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.CaseAssessmentDetail.IsFurtherTreatmentRecommended.ToString() : "")
                        </td>
                    </tr>
                    <tr>
                        <td>If so, how many further sessions do you recommend?
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.CaseAssessmentDetail.PatientRecommendedTreatmentSessions.ToString() : "")
                        </td>
                    </tr>
                    <tr>
                        <td>Over what period should these be carried out?
                        </td>
                        <td>
                            @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.CaseAssessmentDetail.PatientTreatmentPeriod.ToString() : "")
                            @Html.Encode(Model.CaseAssessment != null ? Model.Duration.SingleOrDefault(d => d.DurationID == Model.CaseAssessment.CaseAssessmentDetail.PatientTreatmentPeriodDurationID).DurationName : "")
                        </td>
                    </tr>
                </table>
                <div class="margin-separator">
                </div>
                <div class="page-spacer">
                    &nbsp;
                </div>
                <div class="print-heading">
                    <p>
                        Additional Information
                    </p>
                </div>
                <p>
                    Please provide any relevant additional information
                </p>
                <table width="100%" cellpadding="5" cellspacing="5">
                    <tr>
                        <td height="300px">
                            @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.CaseAssessmentDetail.AdditionalInformation : "")
                        </td>
                    </tr>
                </table>
                <div class="margin-separator">
                </div>
                <div class="page-spacer">
                    &nbsp;
                </div>
                <div class="print-heading">
                    <p>
                        Msessage to Supplier
                    </p>
                </div>
                <table width="100%" cellpadding="5" cellspacing="5">
                    <tr>
                        <td height="300px">
                            @Html.Encode(Model.CaseAssessment != null ? Model.CaseAssessment.DeniedMessage : "")
                        </td>
                    </tr>
                </table>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
